.blog-details {
    @extend %of-hidden,
    %p-rel;


    &__item {
        h3 {
            @extend %mb-25;

            @include breakpoint(sm) {
                margin-block-end: 27px;
            }
        }
    }

    &__focus {
        @extend %d-flex,
        %align-i-end,
        %justify-between;
        margin-block-end: 56px;
    }

    &__meta {
        color: $title-color;

        ul {
            @extend %d-grid;

            @include breakpoint(sm) {
                display: flex;
                flex-wrap: wrap;
                gap: 18px;
            }

            @include breakpoint(md) {
                gap: 30px;
            }

            li {
                @extend %d-inline-flex,
                %align-i-center;
                gap: 10px;
                text-transform: capitalize;

                @include breakpoint(max-md) {
                    margin-block: 5px;
                }

                span{
                    color: $title-color;
                }
            }
        }
    }

    &__thumb {
        @extend %of-hidden,
        %mb-35;
        border-radius: 16px;

        img {
            @extend %w-100;
            @include add-prefix(transition, $transition);
            object-fit: cover;
        }

        &:hover {
            img {
                @include add-prefix(transform, scale(1.01));
            }
        }
    }


    &__content {
        @extend %mb-35;

        h3 {
            @extend %text-capitalize;
            @extend %mb-10;

        }

        p {
            color: $text-color;
        }
    }

    &__segment {
        &-item {
            @extend %mb-35;
        }

        &-content {
            h5 {
                @extend %text-medium,
                %text-capitalize;
            }
        }

        &-thumb {
            img {
                border-radius: 8px;
            }
        }
    }

    &__action {
        &-inner {
            @extend %d-flex,
            %align-i-center,
            %justify-between,
            %py-25;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            gap: 20px;

            @include breakpoint(lg) {
                padding-block: 28px;
            }
        }
    }

    &__commentform {
        @extend %p-30,
        %mt-40;
        background-color: $tertiary-color3;
        border-radius: 16px;

        @include breakpoint(lg) {
            padding: 40px;
        }
    }



}