.blog {
    @extend %of-hidden,
    %p-rel;

    &--style1 {

        .blog {
            &__slider {
                @extend %pb-30;

                @include breakpoint(md) {
                    padding-block-end: 56px;
                }
            }

            &__item {
                @extend %p-rel;

                &-inner {
                    background-color: $wh-color;
                    border-radius: 16px;

                    @include breakpoint(md) {
                        box-shadow: 0px 24px 60px 0px rgba(31, 36, 51, 0.06);
                    }
                }

                &-thumbnail {
                    @extend %p-rel;
                }

                &-thumb {
                    img {
                        border-radius: 16px;
                    }
                }


                // author 

                &-author {
                    @extend %p-abs;
                    bottom: 5%;
                    width: 90%;
                    left: 5%;


                }

                &-authorinner {
                    @extend %py-10,
                    %px-15,
                    %d-flex,
                    %align-i-center,
                    %justify-between;
                    @include add-prefix(transition, $transition);
                    border-radius: 8px;
                    border: 1px solid $border-color-4;
                    background-color: $author-bg-color;
                    backdrop-filter: blur(2px);

                    @include breakpoint(lg) {
                        padding: 16px 24px;
                    }
                }

                &-authorinfo {
                    @extend %d-flex,
                    %align-i-center;
                    gap: 10px;

                    p {
                        @extend %mb-0,
                        %text-medium,
                        %text-capitalize;
                        @include font-size(14px);
                        color: $title-color;
                    }
                }

                &-date {
                    p {
                        @extend %mb-0,
                        %text-medium,
                        %text-capitalize;
                        @include font-size(14px);
                        color: $title-color;
                    }
                }


                // content
                &-content {
                    @extend %p-30;
                    border-radius: 8px;
                    color: $title-color;

                    @include breakpoint(lg) {
                        padding: 32px 32px 40px 32px;
                    }

                    h5 {
                        a {
                            @extend %text-capitalize,
                            %text-clamp-2,
                            %mb-25,
                            %text-bold;
                            color: $title-color;

                            &:hover {
                                color: $brand-color;
                            }

                        }
                    }

                }


                &:hover {
                    &-inner {
                        cursor: pointer;
                    }

                    // &-content {
                    //     h5 {
                    //         color: $brand-color;
                    //     }
                    // }
                }

                &--style2 {
                    .blog__item {
                        &-inner {
                            @extend %d-flex;
                            flex-wrap: nowrap;
                        }

                        &-writer {
                            @extend %d-flex,
                            %align-i-center;
                            gap: 40px;
                            margin-block-end: 16px;
                        }

                        &-writerthumb {
                            @extend %d-flex,
                            %align-i-center;
                            gap: 10px;

                            p {
                                @extend %mb-0,
                                %text-medium,
                                %text-capitalize;
                                @include font-size(14px);
                                color: $title-color;
                            }
                        }

                        &-writingdate {
                            p {
                                @extend %mb-0,
                                %text-medium,
                                %text-capitalize;
                                @include font-size(14px);
                                color: $title-color;
                            }
                        }

                        &-content {
                            @extend %p-30;
                            border-radius: 8px;
                            color: $title-color;

                            @include breakpoint(lg) {
                                padding: 32px 32px 40px 32px;
                            }
                        }

                        &-title {
                            h5 {
                                a {
                                    @extend %text-capitalize,
                                    %text-clamp-2,
                                    %mb-5,
                                    %text-bold;
                                    color: $title-color;

                                    &:hover {
                                        color: $brand-color;
                                    }

                                }
                            }
                        }

                        &-text{
                            p {
                                @extend %mb-25;
                            }
                        }
                    }
                }

            }

            // shape
            &__shape {

                &-item {
                    @extend %p-abs;

                    &--1 {
                        top: 65%;
                        left: 0.5%;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            top: 65%;
                            left: 0.5%;
                        }

                        @include breakpoint(md) {
                            top: 65%;
                            left: 0.5%;
                        }

                        @include breakpoint(lg) {
                            top: 65%;
                            left: 0.5%;
                        }

                        @include breakpoint(xl) {
                            top: 65%;
                            left: 0.5%;
                        }

                        @include breakpoint(xxl) {
                            top: 40%;
                            left: 0.5%;
                        }

                        @include breakpoint(xxxl) {
                            top: 40%;
                            left: 12%;
                        }
                    }

                    &--2 {
                        top: 73%;
                        right: 0%;

                        @include breakpoint(sm) {
                            top: 74%;
                            right: 12%;
                        }

                        @include breakpoint(md) {
                            top: 68%;
                            right: 11%;
                        }

                        @include breakpoint(lg) {
                            top: 74%;
                            right: 12%;
                        }

                        @include breakpoint(xl) {
                            top: 74%;
                            right: 12%;
                        }

                        @include breakpoint(xxl) {
                            top: 75%;
                            right: 9%;
                        }

                        @include breakpoint(xxxl) {
                            top: 35%;
                            right: 0%;

                        }
                    }

                }


            }

        }
    }

    &--style2 {
        .blog {
            &__wrapper {
                @extend %p-rel;
                z-index: 2;
            }

            &__bg {
                &-element {
                    img {
                        @extend %w-100,
                        %p-abs;
                        left: 0;
                        top: 0;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        opacity: 0.8;
                    }
                }
            }

            &__item {
                &-inner {
                    @extend %px-25,
                    %pt-25,
                    %pb-30,
                    %of-hidden;
                    @include add-prefix(transition, $transition);
                    background-color: $wh-color;
                    border: 2px solid transparent;
                    // todo
                    box-shadow: 0px 16px 48px 0px rgba(6, 35, 63, 0.03), 0px -16px 48px 0px rgba(6, 35, 63, 0.03);
                    border-radius: 16px;

                    &:hover {
                        border: 2px solid $brand-color;
                        box-shadow: none;

                        .blog {
                            &__thumb {
                                img {
                                    @include add-prefix(transform, scale(1.05));
                                }
                            }

                            &__content {
                                h5 {
                                    color: $brand-color;
                                }
                            }
                        }

                    }

                    &--style2 {
                        border: none;

                        &:hover {
                            border: none;
                            box-shadow: 0px 8px 16px rgba(3, 23, 41, 0.08);

                            .blog {
                                &__thumb {
                                    img {
                                        @include add-prefix(transform, scale(1.05));
                                    }
                                }

                                &__content {
                                    h5 {
                                        color: $secondary-color;
                                    }
                                }
                            }

                        }
                    }


                }

                &--style2 {
                    @extend %pb-35;

                }


            }

            &__thumb {
                @extend %of-hidden;
                border-radius: 8px;

                img {
                    @extend %w-100;
                    @include add-prefix(transition, $transition);
                }
            }

            &__content {
                h5 {
                    @extend %text-semibold,
                    %text-capitalize,
                    %text-clamp-1;
                    @include add-prefix(transition, $transition);


                    &.style2 {
                        &:hover {
                            a {
                                color: $secondary-color;
                            }
                        }
                    }

                }

                p {
                    @extend %text-clamp-3;
                }
            }

            &__writer {
                @extend %d-flex,
                %align-i-center;
                gap: 10px;

                &-thumb {
                    img {
                        border-radius: 99px;
                        max-width: 50px;
                    }
                }


                &-designation {
                    h6 {
                        @extend %text-semibold;
                        @include font-size(16px);
                        font-family: $text-font;
                        color: $title-color;
                    }

                    p {
                        @extend %text-semibold;
                        @include font-size(18px);
                        color: $title-color;
                        margin-bottom: -3px;
                    }

                    span {
                        @include font-size(14px);
                        color: $text-color;
                    }
                }
            }

            &__meta {
                @extend %py-15;

                @include breakpoint(xl) {
                    padding-block: 16px;
                }

                &-tag {
                    @extend %d-inline-block,
                    %text-semibold;
                    @include font-size(14px);
                    padding: 3px 12px;
                    border-radius: 8px;
                    text-transform: capitalize;
                    // background-color: rgba($brand-color-1, $alpha: .1);

                    &--style1 {
                        // trk-rgba 
                        color: $secondary-color;
                        background-color: $bg-color-7;
                    }

                    &--style2 {
                        color: $brand-color;
                        background-color: $tertiary-color;
                    }
                }
            }



            // footer shape

            &__shape {

                &-item {
                    @extend %p-abs;

                    &--1 {
                        content: "";
                        // border: 2px solid #B5CAF2;
                        border: 2px solid var(--bg-shape-color);
                        padding: 40px;
                        border-radius: 100px 100px 229px 100px;
                        transform: rotate(65deg);
                        border-top: transparent;
                        display: none;

                        @include breakpoint(md) {
                            display: block;
                            height: 80%;
                            width: 1000px;
                            top: -14%;
                            left: -36%;
                        }

                        @include breakpoint(lg) {
                            top: -6%;
                            left: -28%;
                        }

                        @include breakpoint(xl) {
                            height: 95%;
                            top: -17%;
                            left: -10%;
                        }

                        @include breakpoint(xxl) {
                            top: -17%;
                            left: 0%;
                        }


                        span {
                            position: absolute;
                            content: "";
                            height: 94%;
                            width: 980px;
                            border-radius: 100px 100px 236px 100px;
                            background: linear-gradient(180deg, var(--bg-shape-color-trans) 0%, var(--bg-shape-color) 100%);
                            opacity: 0.6;

                            @include breakpoint(md) {
                                top: 3%;
                                left: -1%;
                            }
                        }


                    }
                }

            }

        }
    }

    &--style3 {

        .blog {

            &__slider {
                @extend %pb-60;

                @include breakpoint(md) {
                    padding-block-end: 80px;
                }

                @include breakpoint(lg) {
                    padding-block-end: 100px;
                }
            }

            &__item {
                @extend %p-rel;

                &-inner {
                    background-color: $bg-color-6;
                    border-radius: 16px;

                    @include breakpoint(md) {
                        box-shadow: 0px 24px 60px 0px rgba(31, 36, 51, 0.06);
                    }
                }

                &-thumbnail {
                    @extend %p-rel;
                }

                &-thumb {
                    img {
                        border-radius: 16px;
                    }
                }


                // author 

                &-author {
                    @extend %p-abs;
                    bottom: 5%;
                    width: 90%;
                    left: 5%;


                }

                &-authorinner {
                    @extend %py-10,
                    %px-15,
                    %d-flex,
                    %align-i-center,
                    %justify-between;
                    @include add-prefix(transition, $transition);
                    border-radius: 8px;
                    border: 1px solid $border-color-4;
                    background-color: $bg-color-6;
                    backdrop-filter: blur(2px);

                    @include breakpoint(lg) {
                        padding: 16px 24px;
                    }
                }

                &-authorinfo {
                    @extend %d-flex,
                    %align-i-center;
                    gap: 10px;

                    p {
                        @extend %mb-0,
                        %text-medium,
                        %text-capitalize;
                        @include font-size(14px);
                        color: $title-color;
                    }
                }

                &-date {
                    p {
                        @extend %mb-0,
                        %text-medium,
                        %text-capitalize;
                        @include font-size(14px);
                        color: $title-color;
                    }
                }


                // content
                &-content {
                    @extend %p-30;
                    border-radius: 8px;
                    color: $title-color;

                    @include breakpoint(lg) {
                        padding: 32px 32px 40px 32px;
                    }

                    h5 {
                        a {
                            @extend %text-capitalize,
                            %text-clamp-2,
                            %mb-25,
                            %text-bold;
                            color: $title-color;

                            &:hover {
                                color: $brand-color;
                            }

                        }
                    }

                }


                &:hover {
                    &-inner {
                        cursor: pointer;
                    }

                    // &-content {
                    //     h5 {
                    //         color: $brand-color;
                    //     }
                    // }
                }

            }

            // shape
            &__shape {

                &-item {
                    @extend %p-abs;

                    &--1 {
                        width: 80px;
                        top: 5%;
                        right: 0.5%;
                        @include animation(rotate 9s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 100px;
                            top: 6%;
                            right: 0.5%;
                        }

                        @include breakpoint(md) {
                            width: 130px;
                            top: 6%;
                            right: 0.5%;
                        }

                        @include breakpoint(lg) {
                            width: 150px;
                            top: 6%;
                            right: 0.5%;
                        }

                        @include breakpoint(xl) {
                            width: auto;
                            top: 6%;
                            right: 0.5%;
                        }

                        @include breakpoint(xxl) {
                            top: 5%;
                            right: 1.5%;
                        }

                        @include breakpoint(xxxl) {
                            top: 4%;
                            right: 4%;
                        }
                    }

                    &--2 {
                        @include animation(light 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);
                        width: 80px;
                        bottom: 32%;
                        left: 1%;

                        @include breakpoint(sm) {
                            @include animation(left-right 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);
                            width: 80px;
                            bottom: 32%;
                            left: 1%;
                        }

                        @include breakpoint(md) {
                            width: 80px;
                            bottom: 27%;
                            left: 1%;
                        }

                        @include breakpoint(lg) {
                            width: 100px;
                            bottom: 27%;
                            left: 1%;
                        }

                        @include breakpoint(xl) {
                            width: auto;
                            bottom: 25%;
                            left: 1%;
                        }

                        @include breakpoint(xxl) {
                            bottom: 25%;
                            left: 2%;
                        }

                        @include breakpoint(xxxl) {
                            bottom: 25%;
                            left: 7%;
                        }
                    }

                }


            }

        }
    }
}