.comment {
    &__inner {
        @extend %d-grid;
        background-color: $wh-color;
        padding: 20px;
        border-radius: 16px;
        gap: 30px;

        @include breakpoint(sm){
            padding: 30px;
        }

        @include breakpoint(md){
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: space-between;
            padding: 40px;
        }

        @include breakpoint(lg){
            gap: 60px;
        }
    }


    &__author {
        @extend %d-grid;
        gap: 20px;

        @include breakpoint(sm){
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            gap: 20px;
        }
        // width: calc(100% - 200px);

        @include breakpoint(md){
            gap: 28px;
            width: calc(100% - 150px);
        }
        @include breakpoint(lg){
            width: calc(100% - 200px);
        }

        &-info {
            @extend %d-flex,
            %align-i-center;
            margin-block-end: 8px;
            column-gap: 15px;

            h5 {
                @extend 
                %text-bold;
                line-height: 1.33;
            }

            span {
                @include font-size(18px);
                color: $text-color;
                opacity: 0.6;
            }
        }


        &-thumb {
            img {
                border-radius: 99px;
            }
        }

        &-content {
            flex: 1;
        }

        &-details {
            p {
                @extend %text-clamp-2;
                color: $title-color;
                line-height: 1.6;
            }
        }

    }

    &__action {
        flex: 1;

        a {
            @extend %text-capitalize,
            %d-inline-flex,
            %text-semibold;
            align-items: flex-start;
            gap: 8px;
            @include add-prefix(transition, $transition);
            font-family: $title-font;
            color: $title-color;
            @include font-size(18px);
            padding: 8px 16px;
            border-radius: 8px;
            border: 2px solid $brand-color;

            span {
                @extend %d-inline-flex;
                align-items: flex-start;

                svg {
                    @include add-prefix(transition, $transition);
                    fill: $title-color;
                }
            }

            // img {
            //     @include add-prefix(transition, $transition);
            //     margin-inline-end: 1px;
            //     margin-bottom: 2px;
            // }
            &.active, 
            &:hover {
                color: $bg-white;
                background-color: $brand-color;
                border: 2px solid $brand-color;

                span {
                    svg {
                        fill: $bg-white;
                        transform: translateX(-2px);
                        filter: hue-rotate(3deg);
                    }
                }
            }
        }
    }
}