.comment {
    &__inner {
        @extend %d-flex,
        %align-i-center,
        %justify-between;
        background-color: $wh-color;
        padding: 40px;
        border-radius: 16px;
    }


    &__author {
        @extend %d-flex,
        %align-i-center;
        gap: 15px;

        &-info {
            @extend %d-flex,
            %align-i-center;
            gap: 15px;

            h5 {
                @extend %mb-10,
                %text-bold;
                line-height: 1.33;
            }

            span {
                @include font-size(18px);
                color: $text-color;
                opacity: 0.6;;
            }
        }


        &-thumb {
            img {
                border-radius: 99px;
            }
        }

        &-content{
            flex: 1;
        }

        &-details{
            p{
                color: $title-color;
                line-height: 1.6;
            }
        }

    }

    &__action {
        flex: 1;
        
        a {
            @extend %text-capitalize,
            %text-medium;
            @include add-prefix(transition, $transition);
            font-family: $title-font;
            color: $text-color;
            @include font-size(16px);

            img {
                @include add-prefix(transition, $transition);
                margin-inline-end: 1px;
                margin-bottom: 2px;
            }

            &:hover {
                color: $brand-color;

                img {
                    transform: translateX(-3px);
                    filter: hue-rotate(3deg);
                }
            }
        }
    }

    // &__body {
    //     &-inner {
    //         @extend %mt-15,
    //         %p-15;

    //         border-radius: 8px;
    //         border: 1px solid $border-color;

    //         @include breakpoint(lg) {
    //             padding-block: 15px;
    //             padding-inline: 25px;
    //         }

    //         p {
    //             color: $text-color;
    //         }
    //     }
    // }
}