 .floating-content {
     &__item {
         @extend %py-15,
         %px-20;
         background-color: $floating-content-bg-color;
         border: 1px solid $floating-content-border-color;
         box-shadow: -40px 40px 60px 0px rgba(5, 30, 54, 0.05);
         border-radius: 16px;

         @include breakpoint(md) {
             padding: 24px 32px;
         }

         h3 {
             @extend %mb-5,
             %text-bold;
             font-family: $text-font;
             line-height: 32px;
             color: $brand-color;

             &.style2 {
                 color: $thm-brand-color;
             }
         }

         p {
             @extend %mb-0,
             %text-regular,
             %text-regular;
             @include font-size(20px);
             color: $title-color;
             opacity: 0.6;

             &.style2 {
                 @extend %text-bold;
                 @include font-size(18px);
             }
         }


         &--style2 {
             padding: 20px;
             min-width: 220px;
             border-radius: 16px;
             background-color: $bg-white;
             box-shadow: -16px 32px 80px 0px rgba(61, 51, 0, 0.12);

             h3 {
                 @extend %mb-5;
                 color: $thm-title-color;

                 @include breakpoint(lg) {
                     margin-block-end: 10px;
                 }
             }

             p {
                 margin-block-end: -10px;
                 color: $thm-title-color;
                 @include font-size(16px);
                 opacity: 0.6;
             }

             @include breakpoint(sm) {
                 min-width: 260px;
                 padding: 24px 32px;
             }

             @include breakpoint(md) {
                 padding: 24px 32px;
             }

             @include breakpoint(lg) {
                 padding: 25px;
             }

             @include breakpoint(xl) {
                 padding: 24px 32px;
             }

         }
     }

     &__top {
         &-left {

             @extend %p-abs;
             left: 10px;
             top: 15px;


             @include breakpoint(md) {
                 left: 30px;
                 top: 90px;
             }

             @include breakpoint(lg) {
                 left: 0px;
                 top: 10px;
             }

             @include breakpoint(xl) {
                 left: 5px;
                 top: 60px;
             }

             &--style2 {
                 @extend %text-left;
                 left: 0px;
                 top: -15px;

                 @include breakpoint(sm) {
                     left: 0px;
                     top: 30px;
                 }

                 @include breakpoint(md) {
                     left: -6px;
                     top: 0px;
                 }

                 @include breakpoint(lg) {
                     left: 0px;
                     top: 10px;
                 }

                 @include breakpoint(xl) {
                     left: 5px;
                     top: 60px;
                 }

             }


         }

         &-right {
             @extend %p-abs;
             right: 0px;
             top: 0px;

             @include breakpoint(sm) {
                 @include breakpoint(max-md) {
                     right: -20px;
                     top: 5px;
                 }
             }

             @include breakpoint(md) {
                 @include breakpoint(max-lg) {
                     right: 60px;
                     top: -50px;
                 }
             }

             @include breakpoint(lg) {
                 right: -10px;
                 top: -80px;
             }

             &--style2 {

                 @include breakpoint(md) {
                     right: -20px;
                     top: -80px;

                     img {
                         max-width: 70px;
                     }
                 }

                 @include breakpoint(lg) {
                     right: 0px;
                     top: -80px;

                     img {
                         max-width: 80px;
                     }
                 }

                 @include breakpoint(xl) {
                     right: 5px;
                     top: -55px;

                     img {
                         width: auto;
                     }
                 }

                 @include breakpoint(xxl) {
                     right: -70px;
                     top: -55px;
                 }
             }
         }
     }

     &__left {
         &-top {
             @extend %p-abs;
             left: -10px;
             top: -47px;

             &--style2 {
                 left: -10px;
                 top: -40px;
             }

             @include breakpoint(sm) {
                 left: -27px;
                 top: -44px;
             }

             @include breakpoint(md) {
                 left: -27px;
                 top: -125px;
             }

             @include breakpoint(lg) {
                 left: -45px;
                 top: -80px;
             }
         }
     }

     &__bottom {
         &-left {
             @extend %p-abs;
             left: 100px;
             bottom: 28px;

             @include breakpoint(sm) {
                 left: 180px;
                 bottom: 57px;
             }

             @include breakpoint(md) {
                 left: 265px;
                 bottom: 57px;
             }

             @include breakpoint(lg) {
                 left: 125px;
                 bottom: 57px;
             }

             @include breakpoint(xl) {
                 left: 160px;
                 bottom: 57px;
             }

             @include breakpoint(xxl) {
                 left: 122px;
                 bottom: 57px;
             }

             @include breakpoint(xxxl) {
                 left: 83px;
                 bottom: 57px;
             }


             &--style2 {
                 @include breakpoint(sm) {
                     left: -10px;
                     bottom: 10px;
                 }

                 @include breakpoint(md) {
                     left: -14px;
                     bottom: -27px;
                 }

                 @include breakpoint(lg) {
                     left: -33px;
                     bottom: 0px;
                 }

                 @include breakpoint(xl) {
                     left: 30px;
                     bottom: -5px;
                 }
             }

             &--style3 {
                 left: 0px;
                 bottom: 20px;

                 @include breakpoint(sm) {
                     left: 0px;
                     bottom: 10px;
                 }

                 @include breakpoint(md) {
                     left: -23px;
                     bottom: 25px;
                 }

                 @include breakpoint(lg) {
                     left: -10px;
                     bottom: 31px;
                 }

                 @include breakpoint(xl) {
                     left: 10px;
                     bottom: 31px;
                 }

                 @include breakpoint(xxl) {
                     left: -10px;
                     bottom: 31px;
                 }

                 @include breakpoint(xxxl) {
                     left: -10px;
                     bottom: 31px;
                 }
             }

             &--style4 {
                 left: 100px;
                 bottom: 140px;

                 @include breakpoint(sm) {
                     left: 210px;
                     bottom: 240px;
                 }

                 @include breakpoint(md) {
                     left: 260px;
                     bottom: 320px;
                 }

                 @include breakpoint(lg) {
                     left: 140px;
                     bottom: 190px;
                 }

                 @include breakpoint(xl) {
                     left: 210px;
                     bottom: 240px;
                 }

                 @include breakpoint(xxl) {
                     left: 260px;
                     bottom: 320px;
                 }

                 @include breakpoint(xxxl) {
                     left: 260px;
                     bottom: 320px;
                 }
             }
         }

         &-right {
             @extend %p-abs;
             right: 10px;
             bottom: 15px;

             &--style2 {
                 right: 70px;
                 bottom: -30px;

                 @include breakpoint(md) {
                     right: 70px;
                     bottom: -30px;
                 }
             }

             @include breakpoint(sm) {
                 right: 10px;
                 bottom: 60px;
             }

             @include breakpoint(md) {
                 right: 70px;
                 bottom: 75px;
             }

             @include breakpoint(lg) {
                 right: 45px;
                 bottom: 2px;
             }

             @include breakpoint(xl) {
                 right: 23px;
                 bottom: 40px;
             }
         }
     }




 }