.job {
    &__item {
        @extend %p-30;
        border-radius: 16px;
        background: $wh-color;
        @include add-prefix(transition, $transition);
        border: 1px solid $border-color-5;
        box-shadow: 0px 8px 40px 0px rgba(4, 14, 43, 0.03);

        @include breakpoint(lg) {
            padding: 32px 80px;
        }

        &-inner {
            @extend %d-flex,
            %align-i-center,
            %justify-between;
            column-gap: 20px;
            row-gap: 30px;
        }

        &-name{
            h5{
                @extend %mb-0, %text-capitalize;
                line-height: 1.2;
            }
        }

        &-time {
            @extend %d-flex,
            %align-i-center;
            gap: 5px;

            span {
                svg {
                    path {
                        stroke: $title-color;
                        opacity: 0.6;
                    }
                }
            }

            p {
                @extend %mb-0,
                %text-capitalize;
                color: $title-color;
                margin-block-start: 4px;
                opacity: 0.6;
            }
        }

        &-location {
            @extend %d-flex,
            %align-i-center;
            gap: 5px;

            span {
                svg {
                    path {
                        stroke: $title-color;
                        opacity: 0.6;
                    }
                }
            }

            p {
                @extend %mb-0,
                %text-uppercase;
                color: $title-color;
                margin-block-start: 4px;
                opacity: 0.6;
            }
        }

        &:hover{
            box-shadow: 0px 16px 60px 0px rgba(4, 14, 43, 0.08);
        }
    }
}