.nav {
    &--case {
        .nav {
            &-link {
                @extend %p-25;
                border: 1px solid $border-color !important;
                border-radius: 0px !important;
                cursor: pointer;

                h5 {
                    @extend %mb-0, %text-capitalize, %text-medium;
                    
                }

                &:not(:last-child) {
                    border-bottom: none !important;
                }

                &.active {
                    border-radius: 16px !important;
                    border-color: $grad-bg-color !important;
                    // background-color: $wh-color !important;
                    // box-shadow: 0px 12px 30px rgba(33, 85, 186, 0.08);
                    background: $grad-bg-color;
                    background-image: $grad-image;

                    h5 {
                        @extend %mb-0, %text-bold;
                        color: $thm-title-color;
                    }
                }
            }
        }

    }
}