.service {
    @extend %p-rel,
    %of-hidden;

    &--style1 {
        .service {
            &__wrapper {
                // @extend %p-rel;

                &::after {
                    @extend %p-abs;
                    content: "";
                    top: 2%;
                    left: 0.5%;
                    height: 70%;
                    width: 80%;
                    background-image: url(../../../assets/images/service/shape.png);
                    background-repeat: no-repeat;
                    background-position: left;
                    display: none;

                    @include breakpoint(sm) {
                        display: block;
                        top: 5%;
                        left: -10.5%;
                    }

                    @include breakpoint(md) {
                        top: 5%;
                        left: -10.5%;
                    }

                    @include breakpoint(lg) {
                        height: 100%;
                        width: 100%;
                        top: 2%;
                        left: -7.5%;
                    }

                    @include breakpoint(xl) {
                        top: 2%;
                        left: 0.5%;
                    }

                    @include breakpoint(xxl) {
                        top: 2%;
                        left: 2%;
                    }

                    @include breakpoint(xxxl) {
                        top: 2%;
                        left: 11%;
                    }
                }
            }

            &__item {
                @extend %p-rel;

                &-inner {
                    @extend %p-rel,
                    %d-grid,
                    %place-i-end,
                    %mb-30;
                    justify-items: center;
                }

                &-thumb {
                    @extend %p-rel,
                    %of-hidden;

                    &::before {
                        @extend %p-abs;
                        @include add-prefix(transition, $transition);
                        content: "";
                        top: -50px;
                        left: 50px;
                        height: 100%;
                        width: 100%;
                        border-radius: 16px;
                        background-color: rgba(17, 21, 33, 0.70);
                        opacity: 0;
                    }

                    &::after {
                        @extend %p-abs;
                        @include add-prefix(transition, $transition);
                        content: "";
                        top: 80px;
                        left: -80px;
                        height: 100%;
                        width: 100%;
                        background-image: url(../../../assets/images/icon/1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 0;
                    }
                }

                &-content {
                    @extend %p-abs,
                    %py-10,
                    %px-15,
                    %d-flex,
                    %align-i-center,
                    %justify-between;
                    @include add-prefix(transition, $transition);
                    border-radius: 8px;
                    background-color: $wh-color;
                    color: $title-color;
                    box-shadow: 0px 8px 32px 0px rgba(126, 136, 165, 0.12);
                    gap: 10px 30px;
                    margin-block-end: -5px;
                    left: 50%;
                    transform: translate(-50%);
                    width: 100%;
                    max-width: calc(100% - 48px);

                    @include breakpoint(sm) {
                        max-width: calc(80% - 48px);

                        @include breakpoint(max-md) {
                            padding: 16px 24px;
                        }
                    }

                    @include breakpoint(md) {
                        max-width: calc(100% - 48px);
                    }

                    @include breakpoint(lg) {
                        max-width: calc(90% - 48px);
                        padding: 16px 24px;
                    }

                    @include breakpoint(xl) {
                        max-width: calc(100% - 48px);
                        padding: 16px 24px;
                    }

                    h6 {
                        flex: 1;

                        a {
                            @extend %text-capitalize,
                            %text-bold;
                            flex: 1;
                            color: $title-color;
                        }
                    }

                    span {
                        svg {
                            rect {
                                fill: $brand-color;
                            }
                        }
                    }



                }


                &:hover {
                    .service {
                        &__item {
                            &-inner {
                                cursor: pointer;
                            }

                            &-thumb {
                                &::after {
                                    opacity: 1;
                                    top: 0;
                                    left: 0;
                                }

                                &::before {
                                    opacity: 1;
                                    top: 0;
                                    left: 0;
                                }
                            }

                            &-content {
                                background-color: $brand-color;

                                h6 {
                                    a {
                                        color: $thm-title-color-dark;
                                    }
                                }

                                span {
                                    svg {
                                        rect {
                                            fill: $thm-black-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }



            }
        }
    }

    &--style2 {
        .service {

            &__item {
                @extend %p-rel;

                &-inner {
                    @extend %p-rel,
                    %d-grid,
                    %place-i-end,
                    %mb-30;
                    justify-items: center;
                }

                &-thumb {
                    @extend %p-rel,
                    %of-hidden;

                    // &::before {
                    //     @extend %p-abs;
                    //     @include add-prefix(transition, $transition);
                    //     content: "";
                    //     top: -50px;
                    //     left: 50px;
                    //     height: 100%;
                    //     width: 100%;
                    //     border-radius: 16px;
                    //     background-color: rgba(21, 23, 37, 0.80);
                    //     opacity: 0;
                    // }

                    &::after {
                        @extend %p-abs;
                        @include add-prefix(transition, $transition);
                        content: "";
                        top: 80px;
                        left: -80px;
                        height: 100%;
                        width: 100%;
                        background-image: url(../../../assets/images/icon/1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 0;
                    }
                }

                &-content {
                    @extend %p-abs,
                    %py-15,
                    %px-20,
                    %d-flex,
                    %align-i-center,
                    %justify-between;
                    @include add-prefix(transition, $transition);
                    border-radius: 8px;
                    background-color: $service-bg-color;
                    backdrop-filter: blur(16px);
                    color: $title-color;
                    box-shadow: 0px 8px 32px 0px rgba(126, 136, 165, 0.12);
                    gap: 10px 30px;
                    margin-block-end: -5px;
                    left: 50%;
                    transform: translate(-50%);
                    width: 100%;
                    max-width: calc(100% - 48px);

                    @include breakpoint(sm) {
                        max-width: calc(80% - 48px);

                        @include breakpoint(max-md) {
                            padding: 16px 24px;
                        }
                    }

                    @include breakpoint(md) {
                        padding: 16px 16px;
                        max-width: calc(100% - 48px);
                    }

                    @include breakpoint(lg) {
                        max-width: calc(90% - 48px);
                        padding: 16px 24px;
                    }

                    @include breakpoint(xl) {
                        max-width: calc(100% - 48px);
                        padding: 16px 24px;
                    }

                    h6 {
                        flex: 1;

                        a {
                            @extend %text-capitalize,
                            %text-clamp-2,
                            %text-bold;
                            flex: 1;
                            color: $title-color;
                        }
                    }

                    span {
                        @extend %d-grid,
                        %place-i-center;
                        @include add-prefix(transition, $transition);
                        height: 48px;
                        width: 46px;
                        border-radius: 4px;
                        background-color: $title-color;

                        svg {
                            path {
                                stroke: $wh-color;
                            }
                        }
                    }



                }


                &:hover {
                    .service {
                        &__item {
                            &-inner {
                                cursor: pointer;
                            }

                            &-thumb {
                                &::after {
                                    opacity: 1;
                                    top: 0;
                                    left: 0;
                                }

                                // &::before {
                                //     opacity: 1;
                                //     top: 0;
                                //     left: 0;
                                // }
                            }

                            &-content {
                                background-color: $thm-service-bg-color-dark;

                                h6 {
                                    a {
                                        color: $thm-title-color-dark;
                                    }
                                }

                                span {
                                    background: $grad-bg-color;
                                    background-image: $grad-image;

                                    svg {
                                        path {
                                            stroke:  $thm-black-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }



            }

            // shape
            &__shape {

                &-item {
                    @extend %p-abs;

                    &--1 {
                        width: 70px;
                        top: 7%;
                        left: 3%;
                        @include animation(rotate 9s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 80px;
                            top: 13%;
                            left: 3%;
                        }

                        @include breakpoint(md) {
                            width: 100px;
                            top: 13%;
                            left: 3%;
                        }

                        @include breakpoint(lg) {
                            width: auto;
                            top: 13%;
                            left: 3%;
                        }

                        @include breakpoint(xl) {
                            top: 13%;
                            left: 4%;
                        }

                    }

                }


            }
        }
    }

    &--style3{
        .service{
            
        }
    }

    &--details {
        .service {
            &__heading {
                h3 {
                    @extend %mb-30;

                    @include breakpoint(lg) {
                        margin-block-end: 48px;
                    }
                }
            }

            &__thumb {
                @extend %mb-40;

                @include breakpoint(lg) {
                    margin-block-end: 56px;
                }

                img {
                    border-radius: 16px;
                }
            }

            &__content {
                p {
                    @extend %mb-0;
                    @include font-size(24px);
                    color: $title-color;
                    opacity: 0.6;
                    line-height: 1.6;
                }
            }
        }
    }




}