.social {
    @extend %d-flex;
    @extend %align-i-center;
    @extend %list-none;
    @extend %ps-0;
    @extend %mb-0;
    gap: 10px;

    @include breakpoint(md) {
        gap: 15px;
    }

    &--style2 {
        gap: 25px;
    }

    &__item {
        h6 {
            @include font-size(18px);
            font-family: $text-font;
        }
    }

    &__link {
        // @extend %d-inline-block;
        @extend %text-center;
        @include add-prefix(transition, background-color .2s linear);
        background-color: transparent;
        // border: 2px solid rgba($wh-color, $alpha: .70);
        @include font-size(18px);


        &--style1 {
            @extend %d-grid,
            %place-i-center;
            @include add-prefix(transition, $transition);
            background-color: $social-bg-color;
            border: 1px solid $social-bg-color;
            @include box(34px);
            border-radius: 99px;
            transition: $transition;

            svg,
            i {
                @include font-size(16px);
                @include add-prefix(transition, $transition);
                color: $title-color;
            }


            @include breakpoint(lg) {
                height: 40px;
                width: 40px;

                i,
                svg {
                    @include font-size(18px)
                }
            }
        }

        &--style2 {
            @extend %d-grid,
            %place-i-center;
            @include add-prefix(transition, $transition);
            background-color: $social-bg-color-2;
            border: 1px solid $social-bg-color-2;
            @include box(34px);
            border-radius: 99px;
            transition: $transition;

            svg,
            i {
                @include font-size(16px);
                @include add-prefix(transition, $transition);
                color: $brand-color;
            }


            @include breakpoint(lg) {
                height: 40px;
                width: 40px;

                i,
                svg {
                    @include font-size(18px)
                }
            }
        }



        &.active,
        &:hover {

            &.active,
            &.social__link--style1,
            &.social__link--style2  {
                background-color: $brand-color;
                border-color: $brand-color;

                svg,
                i {
                    color: $thm-title-color-dark;
                }

            }



        }
    }
}