  // -----------------------------------------------------------------------------
  // This file contains all application-wide Sass variables.
  // -----------------------------------------------------------------------------


  //*-----------------------------------
  //*** Custom variables for theme starthite
  //*-----------------------------------

  $thm-brand-color:#537EFD;
  $thm-brand-color-dark:#537EFD;

  $thm-secondary-color:#FD7B53;
  $thm-secondary-color-dark:#FD7B53;

  $thm-tertiary-color:#E0FAF2;
  $thm-tertiary-color-dark:#002A1E;

  $thm-tertiary-color2:#F5F7FC;
  $thm-tertiary-color2-dark:#002A1E;

  $thm-tertiary-color3:#537EFD;
  $thm-tertiary-color3-dark:#FD7B53;


  $thm-body-color-light:#FFFFFF;
  $thm-body-color-dark:#050E29;

  $thm-bg-color-light:#52eaf0;
  $thm-bg-color-dark:#32dd79;

  $thm-border-color-light: #E6EDFB;
  $thm-border-color-dark: #E6EDFB1F;


  // social border colors
  $thm-social-border-color-light: #F0F4FA;
  $thm-social-border-color-dark: #ffffff14;

  $thm-social-border-color-2-light: #ECEFF2;
  $thm-social-border-color-2-dark: #FFFFFF14;






  // text colors
  $thm-title-color: #111521;
  $thm-title-color-dark: #FFF;

  $thm-text-color: rgba(17, 21, 33, 0.60);
  $thm-text-color-dark: rgba(255, 255, 255, 0.70);

  $thm-text-color-light: rgba(255, 255, 255, 0.60);
  $thm-text-color-light-dark: rgba(255, 255, 255, 0.70);


  $thm-bg-color-2:#F8F9FD;
  $thm-bg-color-2-dark:#0F1B41;

  $thm-bg-color-4-light: #fff;
  $thm-bg-color-4-dark: #1B1D2E;





  $thm-bg-color-5-light: linear-gradient(218.82deg, rgba(255, 255, 255, 0) 14.16%, #FFFFFF 101.06%);
  $thm-bg-color-5-dark:linear-gradient(150.39deg, rgba(237, 242, 248, 0.22) 15.02%, #EDF2F8 99.59%);


  $thm-bg-color-6-light:#F5F7FC;
  $thm-bg-color-6-dark:#2D2C2C;


  $thm-bg-color-7-light:#F1F4FB;
  $thm-bg-color-7-dark:#ffffff0a;


  $thm-bg-color-8-light:#124D6D;
  $thm-bg-color-8-dark:#124D6D;


  $thm-bg-color-9-light:#FFFF;
  $thm-bg-color-9-dark:#000;


  $thm-bg-white-light:#ffffff;
  $thm-bg-white-dark:#ffffff;





  // other colors
  $thm-wh-color: #fff;
  $thm-wh-color-dark: #071231;

  $thm-black-color:#000;
  $thm-black-color-dark:#fff;


  // special color
  $thm-service-bg-color: #fff;
  $thm-service-bg-color-dark: rgba(21, 23, 37, 0.80);


  // action colors
  $thm-error-light: #53FDCA;
  $thm-error-dark: #53FDCA;

  $thm-warning-light: #FD7B53;
  $thm-warning-dark: #FD7B53;

  $thm-success-light: #537EFD;
  $thm-success-dark: #537EFD;


  $thm-danger-light: #FF0000;
  $thm-danger-dark: #FF0000;



  //===================== Theme varibale for  ** Light ** ===================== //
  [data-bs-theme="light"] {
    --brand-color:#{$thm-brand-color};
    --secondary-color:#{$thm-secondary-color};
    --tertiary-color:#{$thm-tertiary-color};
    --tertiary-color2:#{$thm-tertiary-color2};
    --tertiary-color3:#{$thm-tertiary-color3};
    --body-color:#{$thm-body-color-light};


    --header-bg-color: #0e352a;

    --border-color:#{$thm-border-color-light};
    --border-color-2: #E6EDFB;
    --border-color-3: rgba(17, 21, 33, 0.08);
    --border-color-4: rgba(255, 255, 255, 0.40);
    --border-color-5: rgba(17, 21, 33, 0.04);



    --border-color-6: #E5F9F3;
    --border-color-7: #9DB9EE;
    --border-color-8: rgba(189, 189, 189, 0.2);

    --feature-bg-color: #00150F;



    --social-bg-color: #E6EBFA;
    --social-bg-color-2: #19213a;
    --social-border-color:#{$thm-social-border-color-light};
    --social-border-color-2:#{$thm-social-border-color-2-light};
    --social-border-color-3:#{$thm-social-border-color-2-light};


    // --test-color: blue;
    // --test-color-trans: rgba(0, 0, 255, 0.205);

    // text colors
    --title-color:#{$thm-title-color};
    --title-color-style2:#{$thm-title-color};
    --text-color:#{$thm-text-color};
    --text-color-light:#{$thm-text-color-light};
    --text-color-2: rgba(255, 255, 255, 0.6);
    --text-color-3: rgba(255, 255, 255, 0.70);

    // background colors
    --bg-color: #EDF2F8;
    --bg-color-trans: rgba(237, 242, 248, 0.22);

    --bg-grad-color: rgba(253, 123, 83, 0.04);
    --bg-grad-color-trans: rgba(255, 255, 255, 0.04);

    --bg-grad-color-2: #D5E5F9;
    --bg-grad-color-trans-2: rgba(255, 255, 255, 0.22);

    --bg-grad-color-3: #E9EFF7;
    --bg-grad-color-trans-3: rgba(240, 244, 250, 0.16);

    --bg-grad-color-4: rgba(0, 208, 148, 0.32);
    --bg-grad-color-trans-4: rgba(229, 237, 248, 0.00);


    // bg colors
    --bg-color-1: #F8F9FD;
    --bg-color-2: #050E29;
    // --bg-color-3: #F8F9FD;
    --bg-color-3: #{$thm-bg-color-2};
    --bg-color-4:#{$thm-bg-color-4-light};
    --bg-color-5: #F6F6F7;
    --bg-color-6: #fff;


    --bg-color-7:#{$thm-bg-color-7-light};
    --bg-color-8:#{$thm-bg-color-8-light};
    --bg-color-9:#{$thm-bg-color-9-light};

    --bg-white:#{$thm-bg-white-light};
    --bg-team: #fff;

    // form colors
    --form-focus-color: $brand-color;
    --form-bg-color: #FFF;
    --form-bg-color-2: #F8F9FD;
    --form-border: #D8D9E5;
    --form-border-2: #E6EBFA;

    // others colors
    // --wh-color: #fff;
    --wh-color: #{$thm-wh-color};
    --black-color:#{$thm-black-color};

    --floating-content-border-color: rgba(0, 0, 0, 0.02);
    --floating-content-bg-color: rgba(255, 255, 255, 0.90);
    --floating-content-bg-color-2: rgba(255, 255, 255, 0.85);


    --service-item-border-color: #fff;
    --service-item-bg-color: #fff;
    --faq-item-btn-border-color: #03314b12;
    --faq-bg-color: #fff;
    --extra-bg-color: #fff;


    --tag-bg-color: #EDFFFA;
    --service-bg-color: #{$thm-service-bg-color};


    // shape colors
    --bg-shape-color: #B8CFEB;
    --bg-shape-color-trans: rgba(255, 255, 255, 0.22);

    --bg-shape-color-2: #D5E5F9;
    --bg-shape-color-trans-2: rgba(255, 255, 255, 0.22);


    --footer-bg-color: #00150F;
    --faq-img-bg-shadow: #16d466;
    --pagination-bg-color: #E0FAF2;


    --section-bg-color: #f8f8f8;
    --sec-bg-color-2: #fff;

    --account-bg-color: #F5F7FC;
    --account-bg-color2: #FFF;

    // arrow color
    --arrow-color1: #B5CAF2;
    --arrow-icon-color: #0A4FD5;
    --header-border-color: #EBE9E1;
    --banner2-bg-color: #0e241d;
    --about-img-bg-shadow: #85F2D382;
    --cta-img-bg-shadow: #45554b;

    // special
    --quote-bg-color: #F1F5FF;
    --tag-bg-color: #F8FAFE;
    --cta-bg-color1: #6188FD;
    --author-bg-color: rgba(255, 255, 255, 0.90);
    --footer-border-color: rgba(255, 255, 255, 0.16);
    --work-count-bg-color: rgba(255, 255, 255, 0.08);
    --testimonial-bg-color: rgba(255, 255, 255, 0.95);
    --testimonial-bg-color2: #fff;


    // action colors
    --error-color:#{$thm-error-light};
    --warning-color:#{$thm-warning-light};
    --success-color:#{$thm-success-light};
    --danger-color:#{$thm-danger-light};
  }


  //===================== Theme varibale for  ** Dark ** ===================== //
  [data-bs-theme="dark"] {
    --brand-color:#{$thm-brand-color-dark};
    --secondary-color:#{$thm-secondary-color-dark};
    --tertiary-color:#{$thm-tertiary-color-dark};
    --tertiary-color2:#{$thm-tertiary-color2-dark};
    --tertiary-color3:#{$thm-tertiary-color3-dark};
    --body-color:#{$thm-body-color-dark};
    --border-color:#{$thm-border-color-dark};
    --border-color-2: rgba(255, 255, 255, 0.08);
    // use
    --border-color-3: rgba(255, 255, 255, 0.08);
    --border-color-4: rgba(255, 255, 255, 0.08);
    --border-color-5: rgba(255, 255, 255, 0.08);



    --border-color-6: rgba(255, 255, 255, 0.08);
    --border-color-7: #00533B;
    --border-color-8: rgba(234, 219, 215, 0.06);



    --header-bg-color: #0e352a;

    --feature-bg-color: rgba(229, 237, 248, 0.087);

    --social-bg-color: #242C48;
    --social-bg-color-2: #19213a;
    --social-border-color:#{$thm-social-border-color-dark};
    --social-border-color-2:#{$thm-social-border-color-2-dark};
    --social-border-color-3: rgba(255, 255, 255, 0.1);



    // text colors
    --title-color:#{$thm-title-color-dark};
    --title-color-style2: #BBC2C7;
    --text-color:#{$thm-text-color-dark};
    --text-color-light:#{$thm-text-color-light-dark};
    --text-color-2: rgba(255, 255, 255, 0.6);
    --text-color-3: rgba(255, 255, 255, 0.70);

    // background colors
    --bg-color: rgba(237, 242, 248, 0.08);
    --bg-color-trans: rgba(237, 242, 248, 0.02);

    --bg-grad-color: rgba(253, 123, 83, 0.04);
    --bg-grad-color-trans: rgba(255, 255, 255, 0.04);

    --bg-grad-color-2: rgba(213, 229, 249, 0.16);
    --bg-grad-color-trans-2: rgba(255, 255, 255, 0.04);

    --bg-grad-color-3: rgba(32, 56, 51, 0.50);
    --bg-grad-color-trans-3: rgba(2, 29, 21, 0.00);

    --bg-grad-color-4: rgba(0, 208, 148, 0.24);
    --bg-grad-color-trans-4: rgba(0, 208, 148, 0.00);


    // bg color 
    --bg-color-1: #050E29;
    --bg-color-2: #0F1B41;
    // --bg-color-3: #0F1B41;
    --bg-color-3: #{$thm-bg-color-2-dark};
    --bg-color-4:#{$thm-bg-color-4-dark};
    --bg-color-5: #151725;
    --bg-color-6: #2A2D46;


    --bg-color-7:#{$thm-bg-color-7-dark};
    --bg-color-8:#{$thm-bg-color-8-dark};
    --bg-color-9:#{$thm-bg-color-9-dark};

    --bg-white:#{$thm-bg-white-dark};
    --bg-team: #14224D;


    // form colors
    --form-focus-color: $brand-color;
    --form-bg-color: #16203D;
    --form-bg-color-2: #16203D;
    --form-border: #36405D;
    --form-border-2: #36405D;




    // others colors
    // --wh-color: #071231;
    --wh-color: #{$thm-wh-color-dark};
    --black-color:#{$thm-black-color-dark};

    --floating-content-border-color: rgba(0, 0, 0, 0.02);
    --floating-content-bg-color: rgba(5, 14, 41, 0.95);
    --floating-content-bg-color-2: rgba(42, 45, 70, 0.85);


    --service-item-border-color: #091E19;
    --service-item-bg-color: rgba(33, 52, 47, 1);
    --faq-item-btn-border-color: #FFFFFF14;
    --faq-bg-color: #21342F;

    --extra-bg-color: #21342F;
    --tag-bg-color: #002A1E;


    // shape colors
    --bg-shape-color: rgba(213, 229, 249, 0.08);
    --bg-shape-color-trans: rgba(255, 255, 255, 0.02);

    --bg-shape-color-2: rgba(213, 229, 249, 0.16);
    --bg-shape-color-trans-2: rgba(255, 255, 255, 0.04);


    --footer-bg-color: #00150F;

    --faq-img-bg-shadow: #16d4668f;
    --pagination-bg-color: #00150F;


    --section-bg-color: rgba(237, 242, 248, 0.02);
    --sec-bg-color-2: #081c17;

    --account-bg-color: #00150F;
    --account-bg-color2: #00150F;

    // arrow color
    --arrow-color1: #2B4B43;
    --arrow-icon-color: #fff;
    --header-border-color: rgba(255, 255, 255, 0.16);
    --banner2-bg-color: #0e241d;
    --about-img-bg-shadow: #85F2D382;
    --cta-img-bg-shadow: #45554b;


    // special
    --quote-bg-color: #202A4C;
    --tag-bg-color: rgba(7, 18, 49, 0.90);
    --service-bg-color: #{$thm-service-bg-color-dark};
    --cta-bg-color1: #6188FD;
    --author-bg-color: rgba(7, 18, 49, 0.90);
    --footer-border-color: rgba(255, 255, 255, 0.16);
    --work-count-bg-color: rgba(255, 255, 255, 0.08);
    --testimonial-bg-color: rgba(42, 45, 70, 0.95);
    // --testimonial-bg-color2: #2A2D46;


    // action colors
    --error-color:#{$thm-error-dark};
    --warning-color:#{$thm-warning-dark};
    --success-color:#{$thm-success-dark};
    --danger-color:#{$thm-danger-dark};
  }



  //*-----------------------------------
  //*** Custom variables for theme end
  //*-----------------------------------


  //===================== Variables start===================== //

  // theme colors
  $brand-color: var(--brand-color);
  $secondary-color: var(--secondary-color);
  $tertiary-color: var(--tertiary-color);
  $tertiary-color2: var(--tertiary-color2);
  $tertiary-color3: var(--tertiary-color3);


  $header-bg-color: var(--header-bg-color);
  $header-border-color: var(--header-border-color);


  $body-color: var(--body-color);
  $border-color: var(--border-color);
  $border-color-2: var(--border-color-2);

  // use
  $border-color-3: var(--border-color-3);
  $border-color-4: var(--border-color-4);
  $border-color-5: var(--border-color-5);



  $border-color-6: var(--border-color-6);
  $border-color-7: var(--border-color-7);
  $border-color-8: var(--border-color-8);




  $social-bg-color: var(--social-bg-color);
  $social-bg-color-2: var(--social-bg-color-2);
  $social-border-color: var(--social-border-color);
  $social-border-color-2: var(--social-border-color-2);
  $social-border-color-3: var(--social-border-color-3);


  // text colors
  $title-color: var(--title-color);
  $title-color-style2: var(--title-color-style2);
  $text-color: var(--text-color);
  $text-color-light: var(--text-color-light);
  $text-color-2: var(--text-color-2);
  $text-color-3: var(--text-color-3);


  $wh-color: var(--wh-color);
  $black-color: var(--black-color);

  // background colors
  $bg-color: var(--bg-color);
  $bg-color-1: var(--bg-color-1);
  $bg-color-2: var(--bg-color-2);
  $bg-color-3: var(--bg-color-3);
  $bg-color-4: var(--bg-color-4);
  $bg-color-5: var(--bg-color-5);
  $bg-color-6: var(--bg-color-6);
  $bg-color-7: var(--bg-color-7);
  $bg-color-8: var(--bg-color-8);
  $bg-color-9: var(--bg-color-9);

  $bg-white: var(--bg-white);
  $section-bg-color: var(--section-bg-color);
  $sec-bg-color-2: var(--sec-bg-color-2);
  $account-bg-color: var(--account-bg-color);
  $account-bg-color2: var(--account-bg-color2);

  $arrow-icon-color: var(--arrow-icon-color);

  // extra colors
  $team-bg-color: var(--bg-team);
  $service-item-bg-color: var(--service-item-bg-color);

  $footer-bg-color: var(--footer-bg-color);


  $floating-content-border-color: var(--floating-content-border-color);
  $floating-content-bg-color: var(--floating-content-bg-color);
  $floating-content-bg-color-2: var(--floating-content-bg-color-2);

  $service-item-border-color: var(--service-item-border-color);

  $faq-item-btn-border-color: var(--faq-item-btn-border-color);


  $shape-color: var(--bg-shape-color);
  $shape-color-trans: var(--bg-shape-color-trans);

  $shape-color-2: var(--bg-shape-color-2);
  $shape-color-trans-2: var(--bg-shape-color-trans-2);

  $faq-img-bg-shadow: var(--faq-img-bg-shadow);
  $faq-bg-color: var(--faq-bg-color);
  $tag-bg-color: var(--tag-bg-color);

  $extra-bg-color: var(--extra-bg-color);
  $pagination-bg-color: var(--pagination-bg-color);

  $feature-bg-color: var(--feature-bg-color);

  $banner2-bg-color: var(--banner2-bg-color);

  $about-img-bg-shadow: var(--about-img-bg-shadow);
  $cta-img-bg-shadow: var(--cta-img-bg-shadow);


  // form
  $form-border: var(--form-border);
  $form-border-2: var(--form-border-2);
  $form-focus: var(--form-focus);
  $form-bg-color: var(--form-bg-color);
  $form-bg-color-2: var(--form-bg-color-2);


  // arro color
  $arro-color1: var(--arrow-color1);
  $arro-color2: var(--arrow-color2);


  //special
  $qoute-bg-color: var(--quote-bg-color);
  $tag-bg-color: var(--tag-bg-color);
  $service-bg-color: var(--service-bg-color);
  $cta-bg-color1: var(--cta-bg-color1);
  $author-bg-color: var(--author-bg-color);
  $footer-border-color: var(--footer-border-color);
  $work-count-bg-color:var(--work-count-bg-color);
  $testimonial-bg-color:var(--testimonial-bg-color);
  // $testimonial-bg-color2:var(--testimonial-bg-color2);

  // grad color
  $grad-bg-color: #F6FFC8;
  $grad-image: radial-gradient(at -2.9% 80.5%, #F7E5DB 0px, transparent 50%),
  radial-gradient(at 101.7% -4.6%, #FCDEA7 0px, transparent 50%),
  radial-gradient(at 96.0% 92.1%, #DEB6FF 0px, transparent 50%),
  radial-gradient(at 101.7% 55.6%, #DEB6FF 0px, transparent 50%),
  radial-gradient(at 71.9% 88.1%, #DEB6FF 0px, transparent 50%),
  radial-gradient(at 90.0% 17.0%, #DEB6FF 0px, transparent 50%);

  $grad-bg-color2: #232532;


  // Action colors
  $error: var(--error-color);
  $warning: var(--warning-color);
  $success: var(--success-color);
  $danger: var(--danger-color);





  //=====================>>>\ Variables end ===================== //



  //Template Font family

  $title-font:'Epilogue',
  sans-serif;

  $text-font:'Epilogue',
  sans-serif;

  //Template font sizes
  $fs-base: 16px !default;
  $fs-small:14px;

  $fs-h1: 80px;
  $fs-h2: 60px;
  $fs-h3: 40px;
  $fs-h4: 32px;
  $fs-h5: 24px;
  $fs-h6: 20px;

  //Template transition

  $transition:all .3s ease-out;