.banner {
    &__bg {
        &-element {
            img {
                @extend %w-100,
                %p-abs;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                opacity: 0.8;
            }

            span {
                @extend %w-100,
                %p-abs;
                left: 0;
                top: 0;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: -2;
            }
        }
    }

    &__content {
        @extend %mt-100;

        // &-coin {
        //     @extend %mb-20;

        //     img {
        //         width: 70px;
        //         @include animation(rotate 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

        //         @include breakpoint (sm) {
        //             width: 73px;
        //         }

        //         @include breakpoint (md) {
        //             width: 70px;
        //         }

        //         @include breakpoint (lg) {
        //             width: 90px;
        //         }

        //         @include breakpoint (xl) {
        //             width: auto;
        //         }
        //     }

        //     &--style2 {
        //         @extend %mb-30;

        //         img {
        //             width: 70px;
        //             @include animation(left-right 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

        //             @include breakpoint (sm) {
        //                 width: 73px;
        //             }

        //             @include breakpoint (md) {
        //                 width: 70px;
        //             }

        //             @include breakpoint (lg) {
        //                 width: 90px;
        //             }

        //             @include breakpoint (xl) {
        //                 width: auto;
        //             }
        //         }
        //     }
        // }

        // &-heading {
        //     @extend %text-capitalize;

        //     span {
        //         color: $secondary-color;
        //     }

        //     &--style2 {
        //         max-inline-size: 15ch;
        //     }

        // }

        // &-moto {
        //     @extend %mb-20;
        //     color: $text-color;

        //     @include breakpoint(sm) {
        //         margin-block-end: 30px;
        //     }

        //     @include breakpoint(lg) {
        //         margin-block-end: 40px;
        //     }
        // }

        &-wrapper {
            h5 {
                @extend %text-uppercase,
                %text-medium,
                %mb-5;
                color: $tertiary-color3;
            }

            h1 {
                @extend %text-capitalize;
                color: $brand-color;
                margin-block-end: -5px;
            }

            h2 {
                @extend %text-capitalize,
                %text-regular,
                %mb-15;
                color: $title-color;
            }

            p {
                @extend %mb-40;
            }
        }

        &-social {
            p {
                @extend %mb-15,
                %text-bold;
                @include font-size(18px);
                color: $title-color;

                @include breakpoint(lg) {
                    margin-block-end: 25px;
                }
            }
        }

        &--style2 {
            h1 {
                max-block-size: 15ch;
            }
        }
    }

    &__btn-group {
        @extend %mb-40;

        @include breakpoint(sm) {
            margin-block-end: 50px;
        }

        @include breakpoint(lg) {
            gap: 30px;
            margin-block-end: 60px;
        }

        @include breakpoint(xl) {
            margin-block-end: 88px;
        }
    }


    &--style1 {
        @extend %p-rel,
        %of-hidden;
        @include background-cover;
        padding-block-start: 35px;
        padding-block-end: 40px;

        @include breakpoint(sm) {
            padding-block-end: 10px;
        }

        @include breakpoint(md) {
            padding-block-start: 80px;
            padding-block-end: 100px;
        }

        @include breakpoint(lg) {
            padding-block-start: 148px;
            padding-block-end: 135px;
        }

        @include breakpoint(xl) {
            padding-block-start: 148px;
            padding-block-end: 132px;
        }

        @include breakpoint(xxl) {
            padding-block-start: 148px;
            padding-block-end: 148px;
        }

        @include breakpoint(xxxl) {
            padding-block-start: 148px;
            padding-block-end: 240px;
        }

        .banner {
            &__thumb {


                @include breakpoint(md) {
                    position: absolute;
                    right: -20px;
                    top: 180px;
                    max-inline-size: 47%;
                }

                @include breakpoint(lg) {
                    right: -110px;
                    top: 60px;
                    max-inline-size: 59%;
                }

                @include breakpoint(xl) {
                    right: -140px;
                    top: 30px;
                    max-inline-size: 58%;
                }

                @include breakpoint(xxl) {
                    right: -105px;
                    top: 0px;
                    max-inline-size: 57%;
                }

                @include breakpoint(xxxl) {
                    right: 70px;
                    top: 0px;
                    max-inline-size: 52%;
                }
            }

        }

    }

    // banner style 2
    &--style2 {
        @extend %p-rel,
        %of-hidden;
        // background-color: #0e241d;
        background-color: $banner2-bg-color;
        padding-block-start: 110px;
        padding-block-end: 50px;

        .bg-shape-svg {
            width: 0;
            height: 0;
            display: none;

            @include breakpoint(xl) {
                display: block;
            }
        }

        @include breakpoint(sm) {
            padding-block-end: 40px;
        }

        @include breakpoint(md) {
            clip-path: url(#shape-clippath);
            // background-color: $thm-bg-color-2-dark;
            padding-block-start: 132px;
            padding-block-end: 80px;
        }

        @include breakpoint(lg) {
            padding-block-start: 148px;
            padding-block-end: 120px;
        }

        @include breakpoint(xl) {
            background-color: none;
            padding-block-start: 160px;
            padding-block-end: 347px;
        }


        .banner {
            &__thumb {

                @include breakpoint(md) {
                    @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);
                    position: absolute;
                    left: 0%;
                    bottom: 7%;
                    max-inline-size: 46%;
                    z-index: 1;
                }

                @include breakpoint(lg) {
                    left: 7%;
                    bottom: 10%;
                    max-inline-size: 40%;
                }

                @include breakpoint(xl) {
                    left: 90px;
                    bottom: 200px;
                    max-inline-size: 40%;
                }

                @include breakpoint(xxl) {
                    left: 90px;
                    bottom: 180px;
                    max-inline-size: 52%;
                }

                @include breakpoint(xxxl) {
                    left: 217px;
                    bottom: 220px;
                    max-inline-size: 30%;
                }

                @media screen and (min-width: 1900px) {
                    left: 360px;
                    bottom: 200px;
                    max-inline-size: 52%;
                }

            }

            &__content {
                @extend %p-rel;
                z-index: 2;

                h1 {
                    color: $bg-white;
                }

                p {
                    color: $text-color-3;
                }

                &-playbtn {
                    color: $bg-white;

                    i,
                    svg {
                        color: $bg-white;
                    }
                }

            }

            &__wrapper {
                &--style2 {
                    &::after {
                        @extend %p-abs,
                        %d-none;
                        bottom: 0px;
                        left: 12%;
                        content: "";
                        height: 870px;
                        width: 370px;
                        // trk-rgba 
                        // background-color: rgba(255, 255, 255, 0.04);
                        border: 45px solid rgba(255, 255, 255, 0.9);
                        border-bottom-left-radius: 999px;
                        border-bottom-right-radius: 999px;
                        // border-radius: 186.5px;
                        opacity: 0.07999999821186066;
                        background: linear-gradient(152deg, rgba(229, 237, 248, 0.47) 0%, #EDF2F8 100%);


                        @include breakpoint(md) {
                            // display: block;
                            transform: rotate(18deg);
                            left: 14%;
                            bottom: 2%;
                        }

                        @include breakpoint(lg) {
                            display: block;
                            bottom: 1%;
                            left: 14%;
                        }

                        @include breakpoint(xl) {
                            transform: rotate(22deg);
                            bottom: 10%;
                            left: 14%;
                        }

                        @include breakpoint(xxl) {
                            bottom: 10%;
                            transform: rotate(23deg);
                            left: 13%;
                        }

                        @include breakpoint(xxxl) {
                            bottom: 10%;
                            transform: rotate(23deg);
                            left: 18%;
                        }

                        @media screen and (min-width: 1900px) {
                            bottom: 10%;
                            transform: rotate(23deg);
                            left: 23%;
                        }
                    }
                }
            }
        }
    }


    // banner style 3
    &--style3 {
        @extend %p-rel,
        %of-hidden;
        @include background-cover;
        padding-block-start: 80px;
        padding-block-end: 80px;

        @include breakpoint(sm) {
            padding-block-start: 80px;
            padding-block-end: 80px;
        }

        @include breakpoint(md) {
            padding-block-start: 90px;
            padding-block-end: 100px;
        }

        @include breakpoint(lg) {
            padding-block-start: 130px;
            padding-block-end: 138px;
        }

        @include breakpoint(xl) {
            padding-block-start: 140px;
            padding-block-end: 150px;
        }

        @include breakpoint(xxxl) {
            padding-block-start: 160px;
            padding-block-end: 165px;
        }


        .banner {
            @extend %p-rel;

            &__thumb {
                img {
                    @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);
                }

                @include breakpoint(md) {
                    &::before {
                        position: absolute;
                        content: "";
                        width: 162px;
                        height: 100%;
                        background: linear-gradient(160deg, var(--bg-grad-color-trans-4) 0%, var(--bg-grad-color-4) 100%);
                        left: 46%;
                        bottom: 0;

                        @include breakpoint(lg) {
                            width: 195px;
                            left: 48%;
                        }

                        @include breakpoint(xl) {
                            width: 230px;
                            left: 48.5%;
                        }

                        @include breakpoint(xxl) {
                            width: 230px;
                            left: 49%;
                        }
                    }
                }

            }

            &__btn-group {
                @extend %mb-0;
            }

            &__counter {
                &-inner {
                    @extend %d-block,
                    %align-i-center;
                }

                &-item {
                    @extend %p-25;
                    // max-width: 260px;
                    border-radius: 8px;
                    background-color: $wh-color;
                    border: 2px solid rgba(31, 35, 61, 0.00);
                    box-shadow: 0px 16px 64px 0px rgba(0, 208, 148, 0.12);

                    @include breakpoint(md) {
                        padding: 22px;
                    }

                    @include breakpoint(lg) {
                        padding: 22px;
                    }

                    @include breakpoint(xl) {
                        padding: 24px;
                    }

                    &:not(:last-child) {
                        margin-block-end: 32px;
                    }

                    h4 {
                        @extend %text-bold;
                        font-family: $text-font;
                        margin-bottom: 0px;

                        span {
                            @extend %text-bold;
                            font-size: inherit;
                            color: inherit;
                            font-family: inherit;
                        }

                    }

                    p {
                        @extend %text-capitalize,
                        %mb-0,
                        %mt-10;
                        @include font-size(18px);
                        line-height: 1.3;
                        font-family: $text-font;

                    }
                }
            }

            &__bg {
                @extend %p-abs;
                z-index: -1;
            }

        }

    }



    // shape
    &__shape {
        &--home1 {
            .banner__shape {

                &-item {
                    @extend %p-abs;

                    &--1 {
                        width: 100px;
                        bottom: 48.6%;
                        left: -9%;
                        z-index: 1;
                        @include animation(light 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 120px;
                            bottom: 53.6%;
                            left: -7%;

                        }

                        @include breakpoint(md) {
                            width: 120px;
                            bottom: 17.5%;
                            left: -5%;

                        }

                        @include breakpoint(lg) {
                            width: 120px;
                            bottom: 21.5%;
                            left: -4%;
                        }


                        @include breakpoint(xl) {
                            width: 150px;
                            bottom: 20.5%;
                            left: -5%;
                        }

                        @include breakpoint(xxl) {
                            width: 200px;
                            bottom: 15%;
                            left: -5%;
                        }

                        @include breakpoint(xxxl) {
                            width: auto;
                            bottom: 14%;
                            left: 4.5%;
                        }
                    }


                    &--2 {
                        width: 200px;
                        top: 69.5%;
                        right: 55%;
                        z-index: -1;
                        @include animation(light 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 250px;
                            top: 66.2%;
                            right: 55%;

                        }

                        @include breakpoint(md) {
                            top: 34%;
                            right: 20%;
                        }

                        @include breakpoint(lg) {
                            width: 250px;
                            top: 29%;
                            right: 25%;
                        }


                        @include breakpoint(xl) {
                            width: 350px;
                            top: 27%;
                            right: 24%;
                        }

                        @include breakpoint(xxl) {
                            top: 29%;
                            right: 28%;
                        }

                        @include breakpoint(xxxl) {
                            top: 29%;
                            right: 34%;
                        }
                    }


                    &--3 {
                        width: 200px;
                        top: 7%;
                        left: 1%;
                        z-index: -1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            top: 8%;
                            left: 3%;
                        }

                        @include breakpoint(md) {
                            top: 13%;
                            left: 2%;
                        }

                        @include breakpoint(lg) {
                            width: 300px;
                            left: 1%;
                            top: 16%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            top: 16%;
                            left: 1%;
                        }

                        @include breakpoint(xxl) {
                            top: 16%;
                            left: 4%;
                        }

                        @include breakpoint(xxxl) {
                            top: 13%;
                            left: 15%;
                        }
                    }

                    &--4 {
                        width: 40px;
                        top: 16%;
                        left: 70%;
                        z-index: 1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 60px;
                            top: 13%;
                            left: 57%;
                        }

                        @include breakpoint(md) {
                            width: 80px;
                            top: 22%;
                            left: 50%;
                        }

                        @include breakpoint(lg) {
                            top: 25%;
                            left: 42%;
                        }

                        @include breakpoint(xl) {
                            width: auto;
                            top: 24%;
                            left: 38%;
                        }

                        @include breakpoint(xxl) {
                            top: 24%;
                            left: 43%;
                        }

                        @include breakpoint(xxxl) {
                            top: 22%;
                            left: 45%;
                        }
                    }

                    &--5 {
                        width: 200px;
                        top: 57%;
                        right: 1%;
                        z-index: 1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            top: 50%;
                            right: 3%;
                        }

                        @include breakpoint(md) {
                            top: 0%;
                            right: 2%;
                        }

                        @include breakpoint(lg) {
                            width: 300px;
                            top: -1%;
                            right: -7%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            top: -1%;
                            right: -7%;
                        }

                        @include breakpoint(xxl) {
                            top: 0%;
                            right: -2.5%;
                        }

                        @include breakpoint(xxxl) {
                            z-index: -1;
                            top: 0%;
                            right: -1%;
                        }
                    }

                    &--6 {
                        width: 200px;
                        top: 78%;
                        right: 1%;
                        z-index: 1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            top: 77%;
                            right: 2%;
                        }

                        @include breakpoint(md) {
                            top: 42%;
                            right: 2%;
                        }

                        @include breakpoint(lg) {
                            width: 300px;
                            right: -3%;
                            top: 36%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            right: -3%;
                            top: 36%;
                        }

                        @include breakpoint(xxl) {
                            top: 36%;
                            right: -2.5%;
                        }

                        @include breakpoint(xxxl) {
                            z-index: -1;
                            top: 33%;
                            right: -1%;
                        }
                    }

                    &--7 {
                        width: 200px;
                        right: 53%;
                        bottom: 3%;
                        z-index: -1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            right: 53%;
                            bottom: 3%;
                        }

                        @include breakpoint(md) {
                            display: none;
                            // bottom: 2%;
                            // right: 40%;
                        }

                        @include breakpoint(lg) {
                            display: block;
                            width: 300px;
                            right: 27%;
                            bottom: 3%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            right: 30%;
                            bottom: 3%;
                        }

                        @include breakpoint(xxl) {
                            bottom: 3%;
                            right: 35%;
                        }

                        @include breakpoint(xxxl) {
                            bottom: 3%;
                            right: 40%;
                        }
                    }


                }
            }
        }


    }
}