.banner {
    &__bg {
        &-element {
            img {
                @extend %w-100,
                %p-abs;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                opacity: 0.8;
            }

            span {
                @extend %w-100,
                %p-abs;
                left: 0;
                top: 0;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: -2;
            }
        }
    }

    &__content {
        @extend %mt-100;

        // &-coin {
        //     @extend %mb-20;

        //     img {
        //         width: 70px;
        //         @include animation(rotate 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

        //         @include breakpoint (sm) {
        //             width: 73px;
        //         }

        //         @include breakpoint (md) {
        //             width: 70px;
        //         }

        //         @include breakpoint (lg) {
        //             width: 90px;
        //         }

        //         @include breakpoint (xl) {
        //             width: auto;
        //         }
        //     }

        //     &--style2 {
        //         @extend %mb-30;

        //         img {
        //             width: 70px;
        //             @include animation(left-right 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

        //             @include breakpoint (sm) {
        //                 width: 73px;
        //             }

        //             @include breakpoint (md) {
        //                 width: 70px;
        //             }

        //             @include breakpoint (lg) {
        //                 width: 90px;
        //             }

        //             @include breakpoint (xl) {
        //                 width: auto;
        //             }
        //         }
        //     }
        // }

        // &-heading {
        //     @extend %text-capitalize;

        //     span {
        //         color: $secondary-color;
        //     }

        //     &--style2 {
        //         max-inline-size: 15ch;
        //     }

        // }

        // &-moto {
        //     @extend %mb-20;
        //     color: $text-color;

        //     @include breakpoint(sm) {
        //         margin-block-end: 30px;
        //     }

        //     @include breakpoint(lg) {
        //         margin-block-end: 40px;
        //     }
        // }

        &-wrapper {
            h5 {
                @extend %text-uppercase,
                %text-medium,
                %mb-5;
                color: $tertiary-color3;
            }

            h1 {
                @extend %text-capitalize;
                color: $brand-color;
                margin-block-end: -5px;
            }

            h2 {
                @extend %text-capitalize,
                %text-regular,
                %mb-15;
                color: $title-color;
            }

            p {
                @extend %mb-40;
            }
        }

        &-social {
            p {
                @extend %mb-15,
                %text-bold;
                @include font-size(18px);
                color: $title-color;

                @include breakpoint(lg) {
                    margin-block-end: 25px;
                }
            }
        }

        &--style2 {
            h1 {
                max-block-size: 15ch;
            }
        }
    }

    &__btn-group {
        @extend %mb-40;

        @include breakpoint(sm) {
            margin-block-end: 50px;
        }

        @include breakpoint(lg) {
            gap: 30px;
            margin-block-end: 60px;
        }

        @include breakpoint(xl) {
            margin-block-end: 88px;
        }
    }


    &--style1 {
        @extend %p-rel,
        %of-hidden;
        @include background-cover;
        padding-block-start: 35px;
        padding-block-end: 40px;

        @include breakpoint(sm) {
            padding-block-end: 10px;
        }

        @include breakpoint(md) {
            padding-block-start: 80px;
            padding-block-end: 100px;
        }

        @include breakpoint(lg) {
            padding-block-start: 148px;
            padding-block-end: 135px;
        }

        @include breakpoint(xl) {
            padding-block-start: 148px;
            padding-block-end: 132px;
        }

        @include breakpoint(xxl) {
            padding-block-start: 148px;
            padding-block-end: 148px;
        }

        @include breakpoint(xxxl) {
            padding-block-start: 148px;
            padding-block-end: 240px;
        }

        .banner {
            &__thumb {


                @include breakpoint(md) {
                    position: absolute;
                    right: -20px;
                    top: 180px;
                    max-inline-size: 47%;
                }

                @include breakpoint(lg) {
                    right: -110px;
                    top: 60px;
                    max-inline-size: 59%;
                }

                @include breakpoint(xl) {
                    right: -140px;
                    top: 30px;
                    max-inline-size: 58%;
                }

                @include breakpoint(xxl) {
                    right: -105px;
                    top: 0px;
                    max-inline-size: 57%;
                }

                @include breakpoint(xxxl) {
                    right: 70px;
                    top: 0px;
                    max-inline-size: 52%;
                }
            }


            // shape
            &__shape {
                &-item {
                    @extend %p-abs;

                    &--1 {
                        width: 100px;
                        bottom: 48.6%;
                        left: -9%;
                        z-index: 1;
                        @include animation(light 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 120px;
                            bottom: 53.6%;
                            left: -7%;

                        }

                        @include breakpoint(md) {
                            width: 120px;
                            bottom: 17.5%;
                            left: -5%;

                        }

                        @include breakpoint(lg) {
                            width: 120px;
                            bottom: 21.5%;
                            left: -4%;
                        }


                        @include breakpoint(xl) {
                            width: 150px;
                            bottom: 20.5%;
                            left: -5%;
                        }

                        @include breakpoint(xxl) {
                            width: 200px;
                            bottom: 15%;
                            left: -5%;
                        }

                        @include breakpoint(xxxl) {
                            width: auto;
                            bottom: 14%;
                            left: 4.5%;
                        }
                    }


                    &--2 {
                        width: 200px;
                        top: 69.5%;
                        right: 55%;
                        z-index: -1;
                        @include animation(light 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 250px;
                            top: 66.2%;
                            right: 55%;

                        }

                        @include breakpoint(md) {
                            top: 34%;
                            right: 20%;
                        }

                        @include breakpoint(lg) {
                            width: 250px;
                            top: 29%;
                            right: 25%;
                        }


                        @include breakpoint(xl) {
                            width: 350px;
                            top: 27%;
                            right: 24%;
                        }

                        @include breakpoint(xxl) {
                            top: 29%;
                            right: 28%;
                        }

                        @include breakpoint(xxxl) {
                            top: 29%;
                            right: 34%;
                        }
                    }


                    &--3 {
                        width: 200px;
                        top: 7%;
                        left: 1%;
                        z-index: -1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            top: 8%;
                            left: 3%;
                        }

                        @include breakpoint(md) {
                            top: 13%;
                            left: 2%;
                        }

                        @include breakpoint(lg) {
                            width: 300px;
                            left: 1%;
                            top: 16%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            top: 16%;
                            left: 1%;
                        }

                        @include breakpoint(xxl) {
                            top: 16%;
                            left: 4%;
                        }

                        @include breakpoint(xxxl) {
                            top: 13%;
                            left: 15%;
                        }
                    }

                    &--4 {
                        width: 40px;
                        top: 16%;
                        left: 70%;
                        z-index: 1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 60px;
                            top: 13%;
                            left: 57%;
                        }

                        @include breakpoint(md) {
                            width: 80px;
                            top: 22%;
                            left: 50%;
                        }

                        @include breakpoint(lg) {
                            top: 25%;
                            left: 42%;
                        }

                        @include breakpoint(xl) {
                            width: auto;
                            top: 24%;
                            left: 38%;
                        }

                        @include breakpoint(xxl) {
                            top: 24%;
                            left: 43%;
                        }

                        @include breakpoint(xxxl) {
                            top: 22%;
                            left: 45%;
                        }
                    }

                    &--5 {
                        width: 200px;
                        top: 57%;
                        right: 1%;
                        z-index: 1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            top: 50%;
                            right: 3%;
                        }

                        @include breakpoint(md) {
                            top: 0%;
                            right: 2%;
                        }

                        @include breakpoint(lg) {
                            width: 300px;
                            top: -1%;
                            right: -7%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            top: -1%;
                            right: -7%;
                        }

                        @include breakpoint(xxl) {
                            top: 0%;
                            right: -2.5%;
                        }

                        @include breakpoint(xxxl) {
                            z-index: -1;
                            top: 0%;
                            right: -1%;
                        }
                    }

                    &--6 {
                        width: 200px;
                        top: 78%;
                        right: 1%;
                        z-index: 1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            top: 77%;
                            right: 2%;
                        }

                        @include breakpoint(md) {
                            top: 42%;
                            right: 2%;
                        }

                        @include breakpoint(lg) {
                            width: 300px;
                            right: -3%;
                            top: 36%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            right: -3%;
                            top: 36%;
                        }

                        @include breakpoint(xxl) {
                            top: 36%;
                            right: -2.5%;
                        }

                        @include breakpoint(xxxl) {
                            z-index: -1;
                            top: 33%;
                            right: -1%;
                        }
                    }

                    &--7 {
                        width: 200px;
                        right: 53%;
                        bottom: 3%;
                        z-index: -1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            width: 300px;
                            right: 53%;
                            bottom: 3%;
                        }

                        @include breakpoint(md) {
                            display: none;
                            // bottom: 2%;
                            // right: 40%;
                        }

                        @include breakpoint(lg) {
                            display: block;
                            width: 300px;
                            right: 27%;
                            bottom: 3%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            right: 30%;
                            bottom: 3%;
                        }

                        @include breakpoint(xxl) {
                            bottom: 3%;
                            right: 35%;
                        }

                        @include breakpoint(xxxl) {
                            bottom: 3%;
                            right: 40%;
                        }
                    }


                }

            }

        }

    }

    // banner style 2
    &--style2 {
        @extend %p-rel,
        %of-hidden;
        padding-block-end: 170px;


        @include breakpoint(sm) {
            padding-block-end: 240px;
        }

        @include breakpoint(md) {
            padding-block-end: 250px;
        }

        @include breakpoint(lg) {
            padding-block-end: 310px;
        }

        @include breakpoint(xl) {
            padding-block-end: 380px;
        }

        @include breakpoint(xxl) {
            padding-block-end: 430px;
        }


        .banner {

            &__content {

                @extend %mt-80;

                @include breakpoint(md) {
                    margin-block-start: 100px;
                }

                &-inner {
                    @extend %text-center;

                    h1 {
                        @extend %text-capitalize,
                        %mb-20,
                        %text-grad-color;
                        color: $bg-white;
                        @include font-size(70px);

                        max-inline-size: 20ch;
                        margin-inline: auto;

                        @include breakpoint(lg) {
                            margin-block-end: 22px;
                        }

                        @include breakpoint(xxl) {
                            line-height: 80px;
                        }

                    }

                    p {
                        @include font-size(24px);
                        color: $bg-white;
                        opacity: 0.6;
                        max-inline-size: 45ch;
                        margin-inline: auto;

                        @include breakpoint(xxl) {
                            line-height: 40px;
                        }
                    }
                }

                &-btn {
                    @extend %d-flex,
                    %mt-45,
                    %align-i-center,
                    %justify-center;
                    gap: 15px;

                    @include breakpoint(lg) {
                        margin-block-start: 48px;
                        gap: 20px;
                    }

                    @include breakpoint(xxl) {
                        gap: 24px;
                    }
                }

                &-playbtn {
                    @extend %text-center;
                    color: $bg-white;

                    i,
                    svg {
                        color: $bg-white;
                    }
                }

            }


            // shape
            &__shape {
                &-item {
                    @extend %p-abs;

                    &--1 {
                        width: 50px;
                        bottom: 30%;
                        left: 1.5%;
                        z-index: 1;
                        @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            bottom: 30%;
                            left: 1.5%;

                        }

                        @include breakpoint(md) {
                            width: 80px;
                            bottom: 30%;
                            left: 1.5%;

                        }

                        @include breakpoint(lg) {

                            bottom: 30%;
                            left: 7.5%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            bottom: 35%;
                            left: 12.5%;
                        }

                        @include breakpoint(xxl) {
                            bottom: 35%;
                            left: 14.5%;
                        }

                        @include breakpoint(xxxl) {
                            bottom: 35%;
                            left: 15.5%;
                        }
                    }

                    &--2 {
                        width: 50px;
                        bottom: 30%;
                        right: 1.5%;
                        z-index: 1;
                        @include animation(rotate 9s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                        @include breakpoint(sm) {
                            bottom: 30%;
                            right: 1.5%;

                        }

                        @include breakpoint(md) {
                            width: 80px;
                            bottom: 30%;
                            right: 1.5%;

                        }

                        @include breakpoint(lg) {

                            bottom: 30%;
                            right: 7.5%;
                        }


                        @include breakpoint(xl) {
                            width: auto;
                            bottom: 35%;
                            right: 12.5%;
                        }

                        @include breakpoint(xxl) {
                            bottom: 35%;
                            right: 14.5%;
                        }

                        @include breakpoint(xxxl) {
                            bottom: 35%;
                            right: 15.5%;
                        }
                    }


                }
            }
        }
    }


    // banner style 3
    &--style3 {
        @extend %p-rel,
        %of-hidden;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%);

        margin-top: -100px;

        @include breakpoint(sm) {
            margin-top: -160px;
        }

        @include breakpoint(md) {
            margin-top: -160px;
        }

        @include breakpoint(lg) {
            margin-top: -220px;
        }

        @include breakpoint(xl) {
            margin-top: -280px;
        }

        @include breakpoint(xxxl) {
            margin-top: -330px;
        }

        .banner {
            &__thumb {
                @extend %p-rel,
                %text-center;

                &-inner {
                    @extend %p-rel;
                    object-fit: cover;
                    transition: $transition;

                    img {
                        border-radius: 24px;
                    }
                }

                &-playbtn {
                    @extend %p-abs,
                    %pos-center;

                    background-color: $bg-white;
                    border-radius: 99px;
                    padding: 13px 9px 11px 15px;
                    display: grid;
                    place-items: center;

                    @include breakpoint(sm) {
                        padding: 16px 12px 14px 18px;
                    }

                    @include breakpoint(md) {
                        padding: 17px 13px 15px 19px;
                    }

                    @include breakpoint(xxl) {
                        padding: 20px 16px 18px 22px;
                    }

                    a {

                        i,
                        svg {

                            @include box(35px);

                            @include breakpoint(lg) {
                                @include box(40px);
                            }

                            @include breakpoint(xxl) {
                                @include box(50px);
                            }

                            path {
                                fill: $thm-title-color;
                            }
                        }
                    }

                    &:hover {
                        a {

                            i,
                            svg {
                                color: $brand-color;
                            }

                        }
                    }

                }

                &::before {
                    @extend %p-abs;
                    content: "";
                    top: -40%;
                    left: -7%;
                    height: 200px;
                    width: 200px;
                    backdrop-filter: blur(10px);
                    filter: blur(100px);
                    background-image: $grad-image;
                    background: $grad-bg-color;
                    transform: translate(-50%);
                    z-index: -1;

                    @include breakpoint(sm) {
                        height: 300px;
                        width: 300px;
                        top: -40%;
                        left: -7%;
                    }

                    @include breakpoint(lg) {
                        top: 20%;
                        left: 5%;
                    }

                    @include breakpoint(xl) {
                        top: 30%;
                        left: 5%;
                    }
                    @include breakpoint(xxl) {
                        top: 40%;
                        left: 5%;
                    }
                    @include breakpoint(xxxl) {
                        top: 45%;
                        left: 5%;
                    }
                }

                &::after {
                    @extend %p-abs;
                    content: "";
                    top: -70%;
                    right: -28%;
                    height: 200px;
                    width: 200px;
                    backdrop-filter: blur(10px);
                    filter: blur(100px);
                    // background: $grad-bg-color;
                    background: #9816F9;
                    background-image: $grad-image;
                    transform: translate(-50%);
                    z-index: -1;

                    @include breakpoint(sm) {
                        height: 250px;
                        width: 250px;
                        top: -45%;
                        right: -40%;
                    }
                    @include breakpoint(md) {
                        height: 250px;
                        width: 250px;
                        top: -30%;
                        right: -40%;
                    }

                    @include breakpoint(lg) {
                        top: 15%;
                        right: -30%;
                    }

                    @include breakpoint(xl) {
                        top: 20%;
                        right: -30%;
                    }
                    @include breakpoint(xxl) {
                        top: 30%;
                        right: -30%;
                    }
                    @include breakpoint(xxxl) {
                        top: 35%;
                        right: -30%;
                    }
                }

            }
        }
    }


    // banner style 3
    &--style4 {
        @extend %p-rel,
        %of-hidden;
        @include background-cover;
        padding-block-start: 80px;
        padding-block-end: 80px;

        @include breakpoint(sm) {
            padding-block-start: 80px;
            padding-block-end: 80px;
        }

        @include breakpoint(md) {
            padding-block-start: 90px;
            padding-block-end: 100px;
        }

        @include breakpoint(lg) {
            padding-block-start: 130px;
            padding-block-end: 138px;
        }

        @include breakpoint(xl) {
            padding-block-start: 140px;
            padding-block-end: 150px;
        }

        @include breakpoint(xxxl) {
            padding-block-start: 160px;
            padding-block-end: 165px;
        }


        .banner {
            @extend %p-rel;

            &__thumb {
                img {
                    @include animation(floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);
                }

                @include breakpoint(md) {
                    &::before {
                        position: absolute;
                        content: "";
                        width: 162px;
                        height: 100%;
                        background: linear-gradient(160deg, var(--bg-grad-color-trans-4) 0%, var(--bg-grad-color-4) 100%);
                        left: 46%;
                        bottom: 0;

                        @include breakpoint(lg) {
                            width: 195px;
                            left: 48%;
                        }

                        @include breakpoint(xl) {
                            width: 230px;
                            left: 48.5%;
                        }

                        @include breakpoint(xxl) {
                            width: 230px;
                            left: 49%;
                        }
                    }
                }

            }

            &__btn-group {
                @extend %mb-0;
            }

            &__counter {
                &-inner {
                    @extend %d-block,
                    %align-i-center;
                }

                &-item {
                    @extend %p-25;
                    // max-width: 260px;
                    border-radius: 8px;
                    background-color: $wh-color;
                    border: 2px solid rgba(31, 35, 61, 0.00);
                    box-shadow: 0px 16px 64px 0px rgba(0, 208, 148, 0.12);

                    @include breakpoint(md) {
                        padding: 22px;
                    }

                    @include breakpoint(lg) {
                        padding: 22px;
                    }

                    @include breakpoint(xl) {
                        padding: 24px;
                    }

                    &:not(:last-child) {
                        margin-block-end: 32px;
                    }

                    h4 {
                        @extend %text-bold;
                        font-family: $text-font;
                        margin-bottom: 0px;

                        span {
                            @extend %text-bold;
                            font-size: inherit;
                            color: inherit;
                            font-family: inherit;
                        }

                    }

                    p {
                        @extend %text-capitalize,
                        %mb-0,
                        %mt-10;
                        @include font-size(18px);
                        line-height: 1.3;
                        font-family: $text-font;

                    }
                }
            }

            &__bg {
                @extend %p-abs;
                z-index: -1;
            }

        }

    }
}